.bg-beige {
  background-color: #f8f3ec;
}
.bg-card {
  background-color: rgba(255, 255, 255, 0.75);
}
.text-matt-orange {
  color: #e85a38;
}
.text-lg {
  color: #000000;
}
.text-total-time {
  color: grey;
}
.bg-matt-orange {
  background-color: #e85a38;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.playlist {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 10px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li button {
  margin-left: 10px;
}

.add-audio {
  margin-bottom: 20px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}